
article, aside, dialog, footer, header, section, footer, nav, figure, menu {
    display: block;
}
/*基本布局*/
* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: SimSuni,Microsoft Yahei, Arial, Helvetica, sans-serif;
}

body {
    font-size: 14px;
    font-family: SimSuni,Microsoft Yahei, Arial, Helvetica, sans-serif;
    height: 100%;
}


aside {
    width: 202px;
    position: fixed;
    top: 35px;
    left: 0;
    bottom: 0;
    background: #f4f8f9;
    overflow-x: hidden;
    padding-bottom: 20px;
}

.main {
    position: absolute;
    left: 202px;
    /*top: 35px;*/
    top:50px;
    right: 0;
    bottom: 0;
    overflow: hidden;
    min-width: 1100px;
}

.con {
    height: 100%;
    min-width: 1100px;   
}
/*头部*/
.logo3 {
    float: left;
    /*height: 35px;*/
    height: 40px;
    /*width: 400px;*/
    width: 100%;
    padding-left: 11px;
}

/*最下面的文字*/
.food {
    position: absolute;
    bottom: 10px;
    left: 25%;
    right: 25%;

}

.rightup{
    position: absolute; right: 10px;
    top:10px;
    text-decoration:none;
    font-size:medium;
    font-family:'Microsoft YaHei';
}

/*按钮*/
.button {
    background-color: #5257e9;
    font-size: medium;
    width: 90px;
    height: 40px;
}

.rightup{
    text-decoration-line:none;
    color:#f4f8f9;
    font-family:'Microsoft YaHei';
}
