/*弹出框*/
/*垂直居中*/
*{
    font-family:SimSuni,Microsoft Yahei, Arial, Helvetica, sans-serif;
}

body{
    font-family:SimSuni,Microsoft Yahei, Arial, Helvetica, sans-serif;
}

.verticalAlign{ vertical-align:middle; display:inline-block; height:100%; margin-left:-1px;}

.xcConfirm .xc_layer{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #666666; opacity: 0.5; z-index: 2147000000;}
.xcConfirm .popBox{position: fixed; left: 50%; top: 50%; background-color: #ffffff; z-index: 2147000001; width: 400px; height: 185px; margin-left: -285px; margin-top: -150px; border-radius: 5px; font-weight: bold; color: #535e66;}
.xcConfirm .popBox .ttBox{height: 35px; line-height: 30px; padding: 5px 30px; border-bottom: solid 1px #eef0f1;}
.xcConfirm .popBox .ttBox .tt{font-size: 16px; display: block; float: left; height: 30px; position: relative;}
.xcConfirm .popBox .ttBox .clsBtn{display: block; cursor: pointer; width: 12px; height: 12px; position: absolute; top: 12px; right: 10px; background: url(../image/icons.png) -48px -96px no-repeat;}
.xcConfirm .popBox .txtBox{margin: 10px 60px; height: 85px; overflow: hidden;}
.xcConfirm .popBox .txtBox .bigIcon{float: left; margin-top:16.5px;margin-right: 0px;background-size:30px; background-image: url(../image/15.PNG); background-repeat: no-repeat; background-position: 48px 48px;}
.xcConfirm .popBox .txtBox p{ height: 84px; font-size:x-large; margin-top: 16px; line-height: 26px; overflow-x: hidden; overflow-y: auto;}
.xcConfirm .popBox .txtBox p input{width: 364px; height: 30px; border: solid 1px #eef0f1; font-size: 18px; margin-top: 6px;}
.xcConfirm .popBox .btnArea{border-top: solid 1px #eef0f1;}
.xcConfirm .popBox .btnGroup{float: right;}
.xcConfirm .popBox .btnGroup .sgBtn{margin-top: 6px; margin-right: 10px;}
.xcConfirm .popBox .sgBtn{display: block; cursor: pointer; float: left; width: 95px; height: 35px; line-height: 35px; text-align: center; color: #FFFFFF; border-radius: 5px;}
.xcConfirm .popBox .sgBtn.ok{background-color: #337ab7; color: #FFFFFF;width:60px;text-decoration:none}
.xcConfirm .popBox .sgBtn.cancel{background-color: #337ab7;width:60px;margin-left:1px;text-decoration:none;color: #FFFFFF;}